/*back de la pagina */
body {
    background-color: #f3f4f5;
    margin: 0;
    padding: 0;
}

/* titulo: arial, 24px, color black */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:black;
    text-align:center;
    margin-top: 30px;
}

    /* parrafos: Georgia, 18px, color #757575 */

    p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #757575;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    line-height: 1.6;;
    }

    /*imagine */
    .img-gazpacho {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
        border-radius: 8px;

    }